/**
 * Prices
 */

// Grid product
.price {
	font-size: $wc-grid-price-fz;
	line-height: $wc-grid-price-lh;
	margin: $wc-grid-price-offset;
	display: block;
	
	ins, del {
		line-height: 1;
	}

	ins {
		font-style: normal;
		border: none;
		margin-right: 5px;
		@if ($wc-grid-ins-price-fz != $wc-grid-price-fz) {
			font-size: $wc-grid-ins-price-fz;
		}
	}

	del {
		color: $wc-sale-price-color;
		@if ($wc-grid-del-price-fz != $wc-grid-price-fz) {
			font-size: $wc-grid-del-price-fz;
		}
	}

}

// List product
.product-list .price {
	margin: $wc-list-price-offset;
	@if ($wc-list-price-fz != $wc-grid-price-fz) {
		font-size: $wc-list-price-fz;
		line-height: $wc-list-price-lh;

		@if ($wc-list-price-fz != $wc-list-ins-price-fz) {
			ins {
				font-size: $wc-list-ins-price-fz;
			}
		}

		@if ($wc-list-price-fz != $wc-list-del-price-fz) {
			del {
				font-size: $wc-list-del-price-fz;
			}
		}
	}
}

// Single product
.single-product .summary .price {
	margin: $wc-single-price-offset;
	@if ($wc-single-price-fz != $wc-grid-price-fz) {
		font-size: $wc-single-price-fz;
		line-height: $wc-single-price-lh;

		@if ($wc-single-price-fz != $wc-single-ins-price-fz) {
			ins {
				font-size: $wc-single-ins-price-fz;
			}
		}

		@if ($wc-single-price-fz != $wc-single-del-price-fz) {
			del {
				font-size: $wc-single-del-price-fz;
			}
		}
	}
}

