/* #Button Appearance Styles (regular scheme) */
.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	font-style: $button_font_style;
	font-weight: $button_font_weight;
	font-size: $button_font_size{px};
	line-height: $button_line_height;
	font-family: @font_family( $button_font_family );
	letter-spacing: $button_letter_spacing{px};

	color: $invert_text_color;
	background-color: $accent_color;
}
.btn:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
input[type='reset']:hover {
	color: $invert_text_color;
	background-color: @lighten($accent_color, 15%);
}

.btn.invert-button {
	color: $invert_text_color;
}
.btn.invert-button:hover {
	color: $invert_text_color;
	border-color: $accent_color;
	background-color: $accent_color;
}

/* #Totop Button */
#toTop {
	padding: $totop_vertical_padding{px} $totop_horizontal_padding{px};
	border-radius: $totop_border_radius{px};
	background-color: $totop_bg_color;
	color: $totop_icon_color;
}

#toTop:hover {
	background-color: $totop_bg_color_hover;
	color: $totop_icon_color_hover;
}