/* #Breadcrumbs */
.breadcrumbs_item {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{px};
}

.breadcrumbs_item_sep,
.breadcrumbs_item_link {
	color: $secondary_text_color;
}

.breadcrumbs_item_link:hover {
	color: $accent_color;
}

/* #Post navigation */
.post-navigation-container i {
	color: $secondary_text_color;
}
.post-navigation-container .nav-links a:hover .post-title,
.post-navigation-container .nav-links a:hover .nav-text {
	color: $link_color;
}

.post-navigation-container .nav-links a:hover i {
	color: $link_hover_color;
}

/* #Pagination */
.posts-list-navigation .pagination .page-numbers,
.page-links > span,
.page-links > a {
	color: $secondary_text_color;
}
.posts-list-navigation .pagination a.page-numbers:hover,
.posts-list-navigation .pagination .page-numbers.current,
.page-links > a:hover,
.page-links > span {
	color: $link_hover_color;
}

.posts-list-navigation .pagination .next,
.posts-list-navigation .pagination .prev {
	color: $link_color;
}
.posts-list-navigation .pagination .next:hover,
.posts-list-navigation .pagination .prev:hover {
	color: $link_hover_color;
}