.kava-extra-settings-page {
	width: 960px;
	max-width: 100%;

	@media screen and (max-width: 960px) {
		width: auto;
	}
}

.kava_extra_settings_form {
	&__checkbox-group {

		display: flex;
		flex-flow: row wrap;

		.cx-checkbox-item-wrap {
			width: 33.333%;

			@media screen and (max-width: 960px) {
				width: 50%;
			}

			@media screen and (max-width: 782px) {
				width: 100%;
			}
		}
	}

	.settings_bottom {
		padding: 15px;

		@media screen and (max-width: 960px) {
			padding: 7.5px;
		}

		@media screen and (max-width: 782px) {
			padding: 5px;
		}
	}
}

#adminmenu {
	.toplevel_page_kava-extra-settings {

		&.current {
			.wp-menu-image {
				img {
					filter: brightness(0.2);
				}
			}
		}

		div.wp-menu-image {
			@media (min-width: 961px) {
				.auto-fold & {
					width: 45px;
				}
			}
		}
	}
}

