.post-author {
	&-bio {
		display: flex;
		align-items: center;
		margin: 40px 0;
		padding-bottom: 40px;
		@include grid-indent(12px);
		border-bottom: 1px solid $color__background-hr;
	}
	&__avatar {
		.avatar {
			border-radius: 50%;
		}
	}
	&__content {
		margin-bottom: 10px;
	}
	&__title {
		margin: 0;
		text-transform: uppercase;
	}
}