/* COMMON */

.advanced-tyto-list .tours-content {
  text-align: left;
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*overflow: hidden;*/
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-pack: justify;
}

.advanced-tyto-list .tours-layout-carousel {
  margin: 0;
}

.advanced-tyto-list .tours-layout-carousel .tns-outer {
  padding-bottom: 50px;
}

.advanced-tyto-list .tours-layout-carousel .tns-ovh {
  padding-top: 5px;
}

.advanced-tyto-list .tours-layout-carousel .tours-content .tns-item {
  float: none;
  display: inline-block;
  padding-bottom: 10px;
}

.advanced-tyto-list .tours-content .tour-item {
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.advanced-tyto-list .tours-content .tour-item * {
  -webkit-transition: all .3s linear 0ms;
  -khtml-transition: all .3s linear 0ms;
  -moz-transition: all .3s linear 0ms;
  -ms-transition: all .3s linear 0ms;
  -o-transition: all .3s linear 0ms;
  transition: all .3s linear 0ms;
}

.advanced-tyto-list .tours-content .tour-item,
.advanced-tyto-list .tours-content .tour-content {
  float: left;
  width: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.advanced-tyto-list .tours-content .tour-head {
  position: relative;
  overflow: hidden;
  height: 240px;
}

.advanced-tyto-list .tour-image {
  display: block;
}

.advanced-tyto-list .tours-content .tour-head img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}

.advanced-tyto-list .tours-content .tour-item:hover .tour-head img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.advanced-tyto-list .tour-label {
  background-color: var(--e-global-color-primary);
  color: #fff;
  position: absolute;
  top: 33px;
  right: 33px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 50px;
  text-align: center;
  -webkit-transform: translate(50%, -50%) rotate(45deg) translateZ(0);
  -moz-transform: translate(50%, -50%) rotate(45deg) translateZ(0);
  transform: translate(50%, -50%) rotate(45deg) translateZ(0);
}

.advanced-tyto-list .tour-attribute {
  display: inline-block;
  margin-right: 10px;
}
.advanced-tyto-list .tour-attribute:last-child {
  margin-right: 0;
}

.advanced-tyto-list .elementor-post__read-more {
  display: inline-block;
}

/* layout-4 */

.advanced-tyto-list.layout-4 .tour-item {
  position: relative;
  overflow: hidden;
}

.advanced-tyto-list.layout-4 .tour-content {
  padding: 15px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.advanced-tyto-list.layout-4 .title {
  color: #fff;
}

.advanced-tyto-list.layout-4 .aver,
.advanced-tyto-list.layout-4 .time,
.advanced-tyto-list.layout-4 .price {
  color: #fff;
  background-color: transparent !important;
}

.advanced-tyto-list.layout-4 .aver {
  margin-right: 10px;
}

/* layout-1 */
.advanced-tyto-list.layout-1 .tour-content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.advanced-tyto-list.layout-1 .tour-attributes {
  width: 100%;
}

.advanced-tyto-list.layout-1 .price {
  @include tourware-body-text;
  padding: 4px 10px;
  z-index: 2;
  bottom: 0;
  left: 20px;
  border-radius: 4px 4px 0 0;
  min-height: 30px;
  height: auto;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  background-color: $color-primary;
  text-decoration: none;
}


/* layout-5 */
.advanced-tyto-list.layout-5 .tour-item {
  border: 1px solid #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.advanced-tyto-list.layout-5 .tour-head {
  position: relative;
  overflow: hidden;
}

.advanced-tyto-list.layout-5 .tour-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.advanced-tyto-list.layout-5 .tour-content>div:last-child {
  margin-bottom: 0;
}

.advanced-tyto-list.layout-5 .tour-title {
  display: flex;
  margin: 0;
}

.advanced-tyto-list.layout-5 .item-title-price-holder {
  margin-bottom: 5px;
}

.advanced-tyto-list.layout-5 .item-price-holder {
  margin-left: auto;
  white-space: nowrap;
  text-align: right;
  padding-left: 5px;
}

.advanced-tyto-list.layout-5 .item-excerpt {
  margin-bottom: 15px;
}

.advanced-tyto-list.layout-5 .item-bottom-content {
  margin-top: auto;
  padding-top: 15px;
  color: #999;
  border-top: 1px solid #ebebeb;
}

.advanced-tyto-list.layout-5 .item-bottom-item {
  display: inline-block;
  margin-right: 15px;
}

.advanced-tyto-list.layout-5 .item-bottom-item:last-child {
  margin-right: 0;
}


/* GRAND TOUR */
.advanced-tyto-list.layout-3 .tours-layout-carousel .tours-content .tns-item {
  padding-bottom: 20px;
}

.advanced-tyto-list.layout-3 .tour-item-wrapper {
  height: 100%;
  position: relative;
}


.advanced-tyto-list.layout-3 .tour-item:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.advanced-tyto-list.layout-3 .tours-layout-carousel .tours-content .tns-item .tour-item:hover {
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
}

.advanced-tyto-list.layout-3 .tour-item-wrapper .price {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--e-global-color-primary);
  padding: 3px 10px 2px 10px;
  color: #fff;
  z-index: 10;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.advanced-tyto-list.layout-3 .tour-item-wrapper:hover .price {
  left: 5px;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.advanced-tyto-list.layout-3 .tour-head {
  overflow: visible;
}

.advanced-tyto-list.layout-3 .image-holder {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 240px;
}

.advanced-tyto-list.layout-3 .tour-title {
  font-size: 20px;
  line-height: 1.4;
}

.advanced-tyto-list.layout-3 .tour-content {
  padding: 10px 15px 15px;
}

.advanced-tyto-list.layout-3 .item-excerpt {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.advanced-tyto-list.layout-3 .tours-layout-carousel .tour-item-wrapper {
  padding-bottom: 10px;
}


/* layout-2 */

.advanced-tyto-list.layout-2 .tour-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.advanced-tyto-list.layout-2 .tour-head .tour-label {
  padding: 6px 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  transform: none;
  width: auto;
  right: auto;
}

.advanced-tyto-list.layout-2 .tour-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.advanced-tyto-list.layout-2 .tour-content>div:last-child {
  margin-bottom: 0;
}

.advanced-tyto-list.layout-2 .tours-content .tour-head img {
  height: 315px;
}

.advanced-tyto-list.layout-2 .tour-content .item-excerpt > *:last-child {
  margin-bottom: 0;
}

.advanced-tyto-list.layout-2 .tour-content .block {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
}

.advanced-tyto-list.layout-2 .tour-content .block-right {
  margin-left: auto;
  text-align: center;
  padding-left: 5px;
}

.advanced-tyto-list.layout-2 .tour-content .tour-attribute {
  display: block;
}
/* End Designs */


/* Start Pagination */

.advanced-tyto-list .page-numbers.hidden {
  display: none;
}

.advanced-tyto-list .page-numbers.infinity-scroll {
  /*display: none;*/
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  overflow: hidden;
}

.advanced-tyto-list .page-numbers.load-more {
  text-align: center;
  margin: 0;
}

.advanced-tyto-list.loading .tours-content {
  opacity: .5;
}

.advanced-tyto-list .lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.advanced-tyto-list .loader {
  float: left;
  width: 100%;
  text-align: center;
}

.advanced-tyto-list .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 2px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #aaa transparent transparent transparent;
}

.advanced-tyto-list .tours-content .lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.advanced-tyto-list .tours-content .lds-ring div {
  width: 60px;
  height: 60px;
  margin: 8px;
  border: 8px solid;
}

.advanced-tyto-list .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.advanced-tyto-list .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.advanced-tyto-list .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* End Paination */