.widget {
	&-title {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 25px;
	}
	&+.widget {
		margin-top: 50px;
		padding-top: 40px;
		border-top: 1px solid $color__background-hr;
	}
	.sidebar &,
	.footer-area & {
		margin-top: 1.5em;
		@include media-breakpoint-up(md) {
			margin-top: 3em;
		}
	}
	select {
		width: 100%;
	}
	ul {
		list-style: none;
		margin-left: 0;
		li {
			margin-bottom: 4px;
		}
	}

	li > ul,
	li > ol {
		margin-top: 4px;
		margin-left: 1.2em;
	}

	&_recent_entries {
		ul {
			li {
				margin-bottom: 20px;
			}
		}
		.post-date {
			display: block;
			&:before {
				content: '\f133';
				margin-right: 5px;
				@include font-awesome-icon;
			}
		}
	}
	&_recent_comments {
		.recentcomments {
			margin-bottom: 20px;
			&:before {
				content: '\f075';
				@include font-awesome-icon;
				@include font-size(14/16);
				margin-right: 5px;
			}
			.comment-author-link {
				a {
					font-weight: initial;
				}
				a:before {
					content: none;
				}
			}
			a {
				&:before {
					content: '';
					display: block;
				}
			}
		}
	}
	&_tag_cloud {
		.tag-cloud-link {
			display: inline-block;
			margin-right: 2px;
			margin-bottom: 5px;
			padding: 6px 10px;
			font-size: 14px !important;
			@include border-radius;
			border: 1px solid $color__background-hr;
			&:hover {
				background-color: $color__background-hr;
			}
		}
	}
	&_calendar {
		.calendar_wrap {
			border: 1px solid $color__background-hr;
		}
		table {
			margin-bottom: 0;
			padding-left: 5.5%;
			padding-right: 5.5%;
			padding-bottom: 4%;
			table-layout: fixed;
			width: 100%;
			position: relative;
			border-collapse: initial;
			th,
			td,
			thead th,
			tbody+tbody {
				border: none;
			}
		}
		thead {
			text-align: center;
		}
		caption {
			padding: 20px 0;
			@include font-size(20/16);
			text-align: center;
			font-weight: 400;
		}
		th {
			padding: 0 0 40px;
			font-weight: inherit;
		}
		tbody {
			&:before {
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				height: 1px;
				margin-top: -15px;
				background-color: $color__background-hr;
			}
		}
		tbody td {
			position: relative;
			text-align: center;
			line-height: 44px;
			height: 44px;
			a {
				display: inline-block;
				width: 45px;
				max-width: 100%;
				height: 45px;
				line-height: 45px;
				background-color: $color__background-hr;
				@include border-radius(50%);
			}
		}
		tfoot td {
			position: absolute;
			top: 26px;
			&#prev {
				left: 10%;
			}
			&#next {
				right: 10%;
			}
		}
		td#today {
			font-weight: 900;
		}
		#next {
			text-align: right;
		}
	}
}