.accommodations-accordion {
  .bdt-accordion-content {
    display: flex;
    flex-direction: row;

    .accommodation-left {
      min-width: 30%;
      padding-right: 20px;
      height: 100%;
    }
  }
}