.travel-itinerary {
  min-height: 1px;
  text-align: left;
}

.travel-itinerary-content {
  position: relative;
}

.travel-itinerary-brick {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 20px;
  padding: 15px;
  float: left;
  width: 100%;
}

.travel-itinerary-brick-content.show {
  display: block;
}

.travel-itinerary-brick-head .brick-day {
  margin-bottom: 10px;
}

.travel-itinerary-brick-head .brick-title {
  color: $color-accent;
}

.travel-itinerary-brick .show-more {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 25px;
}

.travel-itinerary-brick .itinerary-accommodation {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  /*display: none;*/
}

.travel-itinerary-brick .collapsed + .itinerary-accommodation {
  max-height: 0;
}

.travel-itinerary-brick .open + .itinerary-accommodation {
  max-height: 999px;
}

.travel-itinerary-brick .itinerary-accommodation .tour-acc-img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.itinerary-accordion {
  padding: 0;
  list-style: none
}

.itinerary-accordion > :nth-child(n+2) {
  margin-top: 20px
}

.itinerary-accordion-title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #333
}

.itinerary-accordion-title:hover, .itinerary-accordion-title:focus {
  color: #666;
  text-decoration: none;
  outline: none
}

.itinerary-accordion-content {
  display: flow-root;
  margin-top: 20px
}

.itinerary-accordion-content > :last-child {
  margin-bottom: 0
}
