.site-header {
	&__wrap {
		padding-top: 15px;
		padding-bottom: 15px;
		@include media-breakpoint-up(md) {
			&.isStick {
				position: fixed;
				z-index: 1000;
				right: 0;
				left: 0;
			}
		}
		.space-between-content {
			align-items: center;
		}
	}
}

.site-branding {
	.custom-logo {
		display: block;
	}
}

.pseudoStickyBlock {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
}