// Options
$enable-rounded: true !default;

$border__radius: 4px;
$box__shadow: 0 5px 32px rgba(103,122,141,.17);

$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 8px 12px;

$button__indents: 12px 20px;
$button__border-radius: $border__radius;
$button__border: none;
$button__box-shadow: none;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width