/**
 * Active filters widget
 */
.elementor-widget-wp-widget-woocommerce_layered_nav_filters,
.widget_layered_nav_filters{
	ul{
		list-style: none;
		margin: 0;
		
		li{

			&.chosen{
				
				a{
					position: relative;
					padding-left: 25px;
				}
				
				a:after{
					content: $wc-list-widget-remove-item-icon;
					position: absolute;
					display: block;
					font-size: 10px;
					left: 7px;
					top: 4px;
					color: $wc-list-widget-remove-item-icon-color;
					
					@extend %icon-font-default;
				}
			}
			
			+ li{
				margin-top: $wc-list-widget-space-between-items;
			}
			
		}
		
	}
}