.ht-grid {
    margin-left: -15px;
    margin-right: -15px;
    min-height: 1px;
}

.ht-grid-item {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-height: 1px;
}

@media (min-width: 1024px) {
    .ht-grid-1 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-1 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-1 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-1 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(1) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-1 .ht-grid-item {
        width: calc( 100% / 1);
    }
    .ht-grid-1 .ht-grid-item:nth-of-type(1n+2) {
        clear: both;
    }
    .ht-grid-2 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-2 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-2 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-2 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(2) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-2 .ht-grid-item {
        width: calc( 100% / 2);
    }
    .ht-grid-2 .ht-grid-item:nth-of-type(2n+3) {
        clear: both;
    }
    .ht-grid-3 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-3 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-3 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-3 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(3) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-3 .ht-grid-item {
        width: calc( 100% / 3);
    }
    .ht-grid-3 .ht-grid-item:nth-of-type(3n+4) {
        clear: both;
    }
    .ht-grid-4 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-4 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-4 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-4 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(4) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-4 .ht-grid-item {
        width: calc( 100% / 4);
    }
    .ht-grid-4 .ht-grid-item:nth-of-type(4n+5) {
        clear: both;
    }
    .ht-grid-5 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-5 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-5 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-5 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(5) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-5 .ht-grid-item {
        width: calc( 100% / 5);
    }
    .ht-grid-5 .ht-grid-item:nth-of-type(5n+6) {
        clear: both;
    }
    .ht-grid-6 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-6 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-6 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-6 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(6) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-6 .ht-grid-item {
        width: calc( 100% / 6);
    }
    .ht-grid-6 .ht-grid-item:nth-of-type(6n+7) {
        clear: both;
    }
    .ht-grid-7 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-7 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-7 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-7 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(7) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-7 .ht-grid-item {
        width: calc( 100% / 7);
    }
    .ht-grid-7 .ht-grid-item:nth-of-type(7n+8) {
        clear: both;
    }
    .ht-grid-8 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-8 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-8 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-8 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(8) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-8 .ht-grid-item {
        width: calc( 100% / 8);
    }
    .ht-grid-8 .ht-grid-item:nth-of-type(8n+9) {
        clear: both;
    }
    .ht-grid-9 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-9 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-9 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-9 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(9) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-9 .ht-grid-item {
        width: calc( 100% / 9);
    }
    .ht-grid-9 .ht-grid-item:nth-of-type(9n+10) {
        clear: both;
    }
    .ht-grid-10 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-10 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-10 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-10 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(10) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-10 .ht-grid-item {
        width: calc( 100% / 10);
    }
    .ht-grid-10 .ht-grid-item:nth-of-type(10n+11) {
        clear: both;
    }
    .ht-grid-11 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-11 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-11 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-11 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(11) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-11 .ht-grid-item {
        width: calc( 100% / 11);
    }
    .ht-grid-11 .ht-grid-item:nth-of-type(11n+12) {
        clear: both;
    }
    .ht-grid-12 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-12 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-12 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-12 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(12) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-12 .ht-grid-item {
        width: calc( 100% / 12);
    }
    .ht-grid-12 .ht-grid-item:nth-of-type(12n+13) {
        clear: both;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .ht-grid-tablet-1 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-1 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-1 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-1 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(1) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-1 .ht-grid-item {
        width: calc( 100% / 1);
    }
    .ht-grid-tablet-1 .ht-grid-item:nth-of-type(1n+2) {
        clear: both;
    }
    .ht-grid-tablet-2 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-2 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-2 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-2 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(2) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-2 .ht-grid-item {
        width: calc( 100% / 2);
    }
    .ht-grid-tablet-2 .ht-grid-item:nth-of-type(2n+3) {
        clear: both;
    }
    .ht-grid-tablet-3 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-3 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-3 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-3 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(3) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-3 .ht-grid-item {
        width: calc( 100% / 3);
    }
    .ht-grid-tablet-3 .ht-grid-item:nth-of-type(3n+4) {
        clear: both;
    }
    .ht-grid-tablet-4 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-4 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-4 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-4 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(4) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-4 .ht-grid-item {
        width: calc( 100% / 4);
    }
    .ht-grid-tablet-4 .ht-grid-item:nth-of-type(4n+5) {
        clear: both;
    }
    .ht-grid-tablet-5 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-5 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-5 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-5 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(5) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-5 .ht-grid-item {
        width: calc( 100% / 5);
    }
    .ht-grid-tablet-5 .ht-grid-item:nth-of-type(5n+6) {
        clear: both;
    }
    .ht-grid-tablet-6 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-6 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-6 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-6 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(6) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-6 .ht-grid-item {
        width: calc( 100% / 6);
    }
    .ht-grid-tablet-6 .ht-grid-item:nth-of-type(6n+7) {
        clear: both;
    }
    .ht-grid-tablet-7 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-7 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-7 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-7 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(7) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-7 .ht-grid-item {
        width: calc( 100% / 7);
    }
    .ht-grid-tablet-7 .ht-grid-item:nth-of-type(7n+8) {
        clear: both;
    }
    .ht-grid-tablet-8 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-8 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-8 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-8 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(8) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-8 .ht-grid-item {
        width: calc( 100% / 8);
    }
    .ht-grid-tablet-8 .ht-grid-item:nth-of-type(8n+9) {
        clear: both;
    }
    .ht-grid-tablet-9 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-9 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-9 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-9 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(9) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-9 .ht-grid-item {
        width: calc( 100% / 9);
    }
    .ht-grid-tablet-9 .ht-grid-item:nth-of-type(9n+10) {
        clear: both;
    }
    .ht-grid-tablet-10 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-10 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-10 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-10 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(10) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-10 .ht-grid-item {
        width: calc( 100% / 10);
    }
    .ht-grid-tablet-10 .ht-grid-item:nth-of-type(10n+11) {
        clear: both;
    }
    .ht-grid-tablet-11 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-11 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-11 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-11 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(11) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-11 .ht-grid-item {
        width: calc( 100% / 11);
    }
    .ht-grid-tablet-11 .ht-grid-item:nth-of-type(11n+12) {
        clear: both;
    }
    .ht-grid-tablet-12 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-tablet-12 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-tablet-12 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-tablet-12 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(12) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-tablet-12 .ht-grid-item {
        width: calc( 100% / 12);
    }
    .ht-grid-tablet-12 .ht-grid-item:nth-of-type(12n+13) {
        clear: both;
    }
}

@media (max-width: 767px) {
    .ht-grid-mobile-1 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-1 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-1 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-1 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(1) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-1 .ht-grid-item {
        width: calc( 100% / 1);
    }
    .ht-grid-mobile-1 .ht-grid-item:nth-of-type(1n+2) {
        clear: both;
    }
    .ht-grid-mobile-2 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-2 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-2 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-2 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(2) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-2 .ht-grid-item {
        width: calc( 100% / 2);
    }
    .ht-grid-mobile-2 .ht-grid-item:nth-of-type(2n+3) {
        clear: both;
    }
    .ht-grid-mobile-3 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-3 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-3 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-3 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(3) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-3 .ht-grid-item {
        width: calc( 100% / 3);
    }
    .ht-grid-mobile-3 .ht-grid-item:nth-of-type(3n+4) {
        clear: both;
    }
    .ht-grid-mobile-4 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-4 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-4 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-4 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(4) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-4 .ht-grid-item {
        width: calc( 100% / 4);
    }
    .ht-grid-mobile-4 .ht-grid-item:nth-of-type(4n+5) {
        clear: both;
    }
    .ht-grid-mobile-5 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-5 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-5 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-5 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(5) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-5 .ht-grid-item {
        width: calc( 100% / 5);
    }
    .ht-grid-mobile-5 .ht-grid-item:nth-of-type(5n+6) {
        clear: both;
    }
    .ht-grid-mobile-6 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-6 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-6 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-6 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(6) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-6 .ht-grid-item {
        width: calc( 100% / 6);
    }
    .ht-grid-mobile-6 .ht-grid-item:nth-of-type(6n+7) {
        clear: both;
    }
    .ht-grid-mobile-7 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-7 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-7 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-7 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(7) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-7 .ht-grid-item {
        width: calc( 100% / 7);
    }
    .ht-grid-mobile-7 .ht-grid-item:nth-of-type(7n+8) {
        clear: both;
    }
    .ht-grid-mobile-8 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-8 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-8 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-8 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(8) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-8 .ht-grid-item {
        width: calc( 100% / 8);
    }
    .ht-grid-mobile-8 .ht-grid-item:nth-of-type(8n+9) {
        clear: both;
    }
    .ht-grid-mobile-9 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-9 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-9 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-9 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(9) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-9 .ht-grid-item {
        width: calc( 100% / 9);
    }
    .ht-grid-mobile-9 .ht-grid-item:nth-of-type(9n+10) {
        clear: both;
    }
    .ht-grid-mobile-10 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-10 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-10 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-10 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(10) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-10 .ht-grid-item {
        width: calc( 100% / 10);
    }
    .ht-grid-mobile-10 .ht-grid-item:nth-of-type(10n+11) {
        clear: both;
    }
    .ht-grid-mobile-11 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-11 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-11 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-11 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(11) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-11 .ht-grid-item {
        width: calc( 100% / 11);
    }
    .ht-grid-mobile-11 .ht-grid-item:nth-of-type(11n+12) {
        clear: both;
    }
    .ht-grid-mobile-12 .not-real-slider:not(.tns-slider) {
        position: relative;
        float: left;
        width: 100% !important;
    }
    .ht-grid-mobile-12 .not-real-slider:not(.tns-slider):before {
        -webkit-animation: loading 0.75s infinite linear;
        animation: loading 0.75s infinite linear;
        height: 50px;
        width: 50px;
        border: 2px solid #333;
        border-right-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
    .ht-grid-mobile-12 .not-real-slider:not(.tns-slider) .ht-grid-item {
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .ht-grid-mobile-12 .not-real-slider:not(.tns-slider) .ht-grid-item:nth-of-type(12) ~ .ht-grid-item {
        display: none;
    }
    .ht-grid-mobile-12 .ht-grid-item {
        width: calc( 100% / 12);
    }
    .ht-grid-mobile-12 .ht-grid-item:nth-of-type(12n+13) {
        clear: both;
    }
}